body{
	padding: 0;
	margin: 0;
	background: #eaeaea;
}

#container-fluid{
	background: #006dd9;
	height: 3px;
}



@media only screen and (max-width: 418px ) {
	#img_link{
		position: relative;
		left: 50px;
	}
}

#header{
	width: 100%;
	max-width: 980px;
	background: white;
}

#active{
	border: 1px solid #006dd9;
	background: #006dd9;
}

#active-link{
	color: #fff;
}

#dnb{
	color: #444444;
	text-decoration: none;
	font-size: 16px;
}

#dnb:hover{
	background: #006dd9;
	color: #fff;
}
.site-title{
	font-size: 30px;
	line-height: 36px;
	padding-bottom: 18px;
	color: #444444;
	font-weight: normal;
	font-family: 'Roboto Slab', sans-serif;

}

.post_date{
	line-height: 24px;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    display: block;
    color:  #666666;
}
.table-striped{
	max-width: 800px;
}

.title_table{
	background: 0px 0px #e5e5e5;
	padding: 10px;
}

#teams_{
	font-size: 0.9em;
    padding: 8px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #dddddd;
    border-image: initial;
    border-left: none;
    font-weight: bold;
    float: none !important;
    overflow: hidden;
    box-sizing: border-box;
    color: #000000;
    text-align: left;
    vertical-align: middle;
}

.af_div1{
	background: 0px 0px #e5e5e5;
	height: 19px;
	width: 100%;
	max-width: 900px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.af_div2{
	background: 0px 0px #e5e5e5;
	height: 19px;
	width: 100%;
	max-width: 700px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}


.af_div3{
	background: 0px 0px #e5e5e5;
	height: 19px;
	width: 100%;
	max-width: 500px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}